<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<appSettings>
        <add key="ApiBaseUrl" value="http://localhost:5080/" />
        <add key="CrmSmtpHost" value="" />
        <add key="CrmSmtpPort" value="587" />
        <add key="CrmSmtpUser" value="" />
        <add key="CrmSmtpPassword" value="" />
        <add key="CrmSmtpFromName" value="" />
        <add key="CrmSmtpUseSsl" value="True" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>
